.ion-accordion-resize {
  width:96vw;
  padding: 0;
}

.ion-item-cust
{
  padding-left: 0px;
}

.searchBarCustom
{
  border-radius: 0%;
  box-shadow: none;
}

.textCustSize
{
  font-size: small;
}

.textCustSizeHeader1
{
  font-size: medium;
}

.spinnerCenter
{
  margin-left: auto;
    margin-right: auto
}