<ion-header [translucent]="false" color="medium">
  <ion-toolbar>
    <ion-title slot="start" >
      Mouser part search tool
    </ion-title>
    <ion-buttons slot="end" (click)="openSettings()">
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-item>
    <ion-input  clearInput value="clear me" autofocus="true" maxlength="128" [(ngModel)]="searchInput$">
    </ion-input>
    <ion-button (click)="postMouser()" class="ion-button_cust">
      Search
    </ion-button>
  </ion-item>

  <ion-list class="ion-no-padding" *ngIf="postMouserResult$ | async; let postMouserResult" color="medium" mode="ios">
    
    <ion-item lines="none" >
      <!--<ion-label *ngIf="postMouserResult.SearchResults != null" position="stacked">Found:</ion-label>-->
      <ion-label *ngIf="postMouserResult.SearchResults == null" position="stacked">
        Please insert name of part to seach
      </ion-label>
      <ion-label *ngIf="postMouserResult.SearchResults.Parts.length == 0" position="stacked">
        Found none
      </ion-label>
    </ion-item>

    <ion-list class="ion-no-padding" *ngIf="postMouserResult.SearchResults !=null">
      
      <ion-item-group class="ion-no-padding"  *ngFor="let Item of postMouserResult.SearchResults.Parts ; let i = index">
        <ion-item lines="none">
          <ion-accordion-group expand="inset" lines="none" class="ion-no-padding" [animated]="false" >
            
            <ion-accordion value="first" class="ion-no-padding" detail='false' toggleIconSlot="start">
                <ion-item-group slot="header"  >
                  <ion-item class=" ion-accordion-resize" color="default">
                      <ion-thumbnail slot="start" class="ion-no-padding">
                        <img *ngIf="Item.ImagePath != null"  src="{{Item.ImagePath}}" alt=''>
                        <img *ngIf="Item.ImagePath == null"  src="assets/img/no-image.webp" alt=''>
                      </ion-thumbnail>
                      
                      <ion-label *ngIf="Item!=null" class="ion-text-wrap">
                        {{Item.ManufacturerPartNumber}}
                      </ion-label>
                  </ion-item>
                </ion-item-group>
              <div slot="content" color="medium">
                <ion-grid >
                  <ion-col  class="ion-align-items-center">
                    <div class="ion-padding " >
                      <ion-label color="dark ion-text-wrap">
                        {{Item.Category}}
                      </ion-label>
                    </div>

                    <div class="ion-padding" >
                      <ion-label class="ion-text-wrap" >
                        {{Item.Description}}
                      </ion-label>
                    </div>

                  </ion-col>
                  <ion-row  class="ion-align-items-center">
                    <div class="ion-padding">
                      <ion-label class="ion-text-wrap">
                        {{Item.Availability}}
                      </ion-label>
                    </div>
                  </ion-row>
                  <ion-col>
                  <ion-row>
                    <div class="ion-padding">
                      <ion-tab-button  routerLink="/partinfo" (click)="openInfoPage(Item)">
                        <ion-icon name="document-text-outline"></ion-icon>
                        <ion-label>Detailed Part Info</ion-label>
                      </ion-tab-button>
                    </div>
                    
                    <div *ngIf="Item.ProductDetailUrl != ''" class="ion-padding">
                      <ion-tab-button (click)="openURL(Item.ProductDetailUrl)"> <!--href="{{Item.ProductDetailUrl}}">-->
                        <ion-icon name="globe"></ion-icon>
                        <ion-label>Product page</ion-label>
                      </ion-tab-button>
                    </div>

                    <div *ngIf="Item.DataSheetUrl != ''" class="ion-padding">
                        <ion-tab-button (click)="openURL(Item.DataSheetUrl)"> <!--href="{{Item.DataSheetUrl}}">-->
                          <ion-icon name="document-outline"></ion-icon>
                          <ion-label>Datasheet</ion-label>
                        </ion-tab-button>
                    </div>
                  </ion-row>
                </ion-col>

                  <ion-col *ngIf="Item.RestrictionMessage != null ">
                    <div class="ion-padding">
                      <ion-label class=" ion-text-wrap">
                        {{Item.RestrictionMessage}}
                      </ion-label>
                    </div>
                  </ion-col>
                </ion-grid>

                <div class="ion-padding" *ngIf="Item.PriceBreaks.length > 0 ">
                  <ion-list-header >
                    <ion-label>Price breaks</ion-label>
                  </ion-list-header>

                  <ion-list *ngFor="let Price of Item.PriceBreaks ; let i = index" lines="none" >
                    <ion-item>
                      <ion-label >
                        Price: {{Price.Price}} for {{Price.Quantity}} ks
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-list>
</ion-content>
