.textCustSize
{
  font-size: small;
}

.textCustSizeHeader1
{
  font-size: medium;
}

.textCustSizeHeader2
{
  font-size: large;
}

.textCustPaddingLeft
{
  padding-left: 1%;
}

.textCustPaddingLeftNone
{
  padding-left: 0px;
}