<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-button slot="end" (click)="settingsClose()" class="ion-button_cust">
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            Starting diplayed item :
          </ion-label>
        </ion-col>
        <ion-col>
          <div>
            <ion-input slot="end" id="changeStartItem" type="number" [(ngModel)]="changeStartItemValue" placeholder="Number of displayed items" min="1" max="50" (ionChange)="changeStartItem(changeStartItemValue)">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            Displayed items:
          </ion-label>
        </ion-col>
        <ion-col>
          <div>
            <ion-input slot="end" id="changeSearchCount" type="number" [(ngModel)]="changeSearchCountValue"  placeholder="Number of displayed items" min="1" max="50" (ionChange)="changeSearchCount(changeSearchCountValue)">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            Search options:
          </ion-label>
        </ion-col>
        <ion-col>
          <div>
            <ion-select class="textColor"  placeholder="{{searchOptions[indexOfSelectOption]}}" slot="end" interface="popover" [(ngModel)]="selectOption"  (ionChange)="changeSelectOptions(selectOption)">
              <ion-select-option slot="start" value="{{i}}"  *ngFor="let val of searchOptions ; let i = index">
                {{val}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>


    </ion-grid>
  </ion-list>
</ion-content>
